@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  background: #252525;
  text-align: center;
}

/* Header */
header {
  justify-content: center;
  background: #111;
  display: flex;
}

.header-img {
  max-height: 70px;
  padding: 15px;
}

h1 {
  font-size: 38px;
  font-family: "Nabla", cursive;
}

/* Text */
h2,
h3,
p,
a {
  color: azure;
}

a {
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: darkcyan;
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

/* Main */
.main-img {
  width: 100%;
}

/* Länkar till andra sidor */
.container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}

.grid-img {
  width: 20%;
  justify-self: center;
}

/* Footer */
footer {
  background: #111;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.right {
  text-align: right;
  grid-row: span 3;
  margin-top: 1rem;
  margin-right: 10%;
}

input {
  border-radius: 3px;
  width: 25%;
  padding: 5px;
}

.button {
  margin-top: 5px;
  background: azure;
  font-family: "Figtree", sans-serif;
  padding: 3px;
}

.button:hover {
  background: #eee;
  text-decoration: underline;
}

.button:active {
  background: #ccc;
  text-decoration: underline;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: unset;
  }

  iframe {
    width: 75%;
    height: 200px;
  }

  .grid-container {
    padding-top: 10px;
    display: block;
  }

  .left {
    text-align: center;
    margin: 0;
  }

  .right {
    text-align: center;
    margin: 0;
  }
}
