@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

body {
  font-family: "Figtree", sans-serif;
  background-color: #252525;
  text-align: center;
}

header {
  justify-content: center;
  background-color: #111;
  display: flex;
}

h1 {
  font-size: 38px;
  font-family: "Nabla", cursive;
}

h2,
h3,
p,
a {
  color: azure;
}

a {
  text-decoration: none;
}

a:link {
  color: azure;
}

a:visited {
  color: lightgreen;
}

a:hover {
  color: aqua;
}

a:active {
  color: darkcyan;
}

.header-img {
  max-height: 70px;
  padding: 15px;
}

.main-img {
  width: 100%;
}

.container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}

/* Logotyper */
.grid-img {
  width: 10%;
  justify-self: center;
}

.italics {
  font-style: italic;
}
