/* Typsnitt från Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

::selection {
  background: azure;
  color: #252525;
}

body {
  font-family: "Figtree", sans-serif;
  margin: 0;
  background: #252525;
  text-align: center;
}

/* Sidhuvud */
header {
  position: sticky;
  left: 0;
  top: 0;
  justify-content: center;
  background: #111;
  display: flex;
}

.header-img {
  max-height: 70px;
  padding: 15px 15px 0;
}

/* Stil för all text */
h1 {
  font-size: 38px;
  font-family: "Nabla", cursive;
}

h1,
h2,
h3,
p,
a,
li,
label {
  color: azure;
}

a {
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: darkcyan;
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

/* Main */
.main-img {
  width: 100%;
}

iframe {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  width: 40vw;
  height: 25vw;
}

article {
  width: 50vw;
  margin: 50px 25vw;
}

/* Länkar till andra sidor */
.container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
}

.grid-img {
  width: 20%;
  justify-self: center;
}

/* Bli medlem-formulär */
form {
  background: linear-gradient(#252525, #111);
  padding-bottom: 2rem;
}

form input {
  width: 100%;
}

fieldset {
  border: 3px solid azure;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30vw;
  width: 40vw;
}

.slider {
  display: flex;
}

.slider input {
  margin: 0 15px;
}

.personalData {
  display: flex;
}

.memberBtn {
  margin-top: 15px;
  cursor: pointer;
}

/* Sidfot */
footer {
  background: #111;
  padding-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.right {
  text-align: right;
  grid-row: span 3;
  margin-top: 1rem;
  margin-right: 10%;
}

input {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  height: 28px;
  border: none;
}

footer input {
  width: 30%;
}

.newsletterBtn {
  margin-top: 5px;
  padding: 3px;
  cursor: pointer;
}

.button {
  font-family: "Figtree", sans-serif;
  background: azure;
}

.button:hover {
  background: #eee;
  text-decoration: underline;
}

.button:active {
  background: #aaa;
  text-decoration: underline;
}

/* För mobilsidor */
@media only screen and (max-width: 600px) {
  iframe {
    width: 90vw;
    height: 200px;
  }

  article {
    width: 90vw;
    margin-left: 1vw;
  }

  fieldset {
    margin-left: 5vw;
    width: 80vw;
  }

  .header-img {
    display: none;
  }

  .grid-container {
    padding-top: 10px;
    display: block;
  }

  .left {
    text-align: center;
    margin: 0;
  }

  .right {
    text-align: center;
    margin: 0;
  }
}
